body {
        background: #000;
        color: #fff;
        font-size: 0.8em;
        font-family: Arial;
}
a {
        color: #fff;
}
div.object {
        padding: 10px;
        width: 170px;
        float: left;
}
img.thumbnail {
        width: 150px;
        height: 150px;
}
div.title {
        width: 150px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0;
        margin: 0;
}
